In [2]:
import pandas as pd

from greenspectors.env import LABELED_COMPANY_SUSTAINABILITY_PATH

In [3]:
company_name = 'Siemens'
df = pd.read_csv(f"{LABELED_COMPANY_SUSTAINABILITY_PATH}/labeled_{company_name}_Sustainability.csv")

In [21]:
df_t = df[['Label']].dropna()

In [22]:
df_t['time'] = pd.to_datetime(df['created_at']).dt.date

In [23]:
df_t

     Label        time
0        2  2021-09-29
1        1  2021-09-30
2        1  2021-10-15
3        2  2021-09-22
4        2  2021-09-25
..     ...         ...
103      1  2021-10-07
104      1  2021-10-11
105      2  2021-09-27
106      1  2021-09-28
107      2  2021-10-08

[108 rows x 2 columns]